@model PostViewModel

@{ 

}
<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <lebel>Title</lebel>
            <input asp-for="Title" />
        </div>
        <div>
            <lebel>Body</lebel>
            <input asp-for="Body" />
        </div>
        <div>
            <lebel>Image</lebel>
            <input asp-for="Image" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>